/*@-webkit-keyframes flash {
  from {background-color: red;}
    to {background-color: blue;}
}
@-webkit-keyframes resize {
  from {background-color: red;}
    to {background-color: blue;}
}
@-webkit-keyframes roll {
  from {background-color: red;}
    to {background-color: blue;}
    }*/
.scalebase{
    	position: fixed;
    	left:  14%;
    	bottom: 10px;
    	background-color: black;
    	height: 10px;
    	width: 14px;
    	border-top-right-radius: 100%;
    	border-top-left-radius: 100%;
    }
.scalearm{
    	-webkit-animation-name: arm; 
    	left:  11%;
    	bottom: 20px;
    	background-color: black;
    	height: 4px;
    	width: 110px;
    	position: absolute;
    	-webkit-transform: rotate(16deg);
    	-webkit-animation-delay: 1s;
    	-webkit-animation-direction: alternate;
    	-webkit-animation-timing-function: ease-in;
    	-webkit-animation-iteration-count: infinite;
    	-webkit-animation-duration: 1s;
    }
    @-webkit-keyframes arm {
    	0% {
    	left:  11%;
    	bottom: 20px;
    	height: 4px;
    	width: 110px;
    	}
    	09% {
    	-webkit-transform: rotate(-16deg);
    	left:  11%;
    	bottom: 20px;
    	height: 4px;
    	width: 110px;
    	}
    	50% {
    	left:  11%;
    	bottom: 20px;
    	height: 4px;
    	width: 110px;
    	}
    	91% {
    	-webkit-transform: rotate(16deg);
    	left:  11%;
    	bottom: 20px;
    	height: 4px;
    	width: 110px;
    	}
    	100% {
    	-webkit-transform: rotate(-16deg);
    	left:  11%;
    	bottom: 20px;
    	height: 4px;
    	width: 110px;
    	}
    }
    @-webkit-keyframes bounce {
    	0% {
    		
    		width: 100px;
    		height: 100px;
    		border-radius: 100%;
    		bottom: 80%;
    		left: 1%;
    		border-color: #F86D26;
    		background: #F86D26;
    	}
    	90% {
    		width: 100px;
    		height: 100px;
    		border-radius: 100%;
    		bottom: 3px;
    		left: 1%;
    		border-color: #F86D26;
    		background: #F86D26;
    	}
    	95% {
    		width: 112px;
    		height: 88px;
    		border-radius: 100%;
    		bottom: 1px;
    		left: 1%;
    		border-color: #F86D26;
    		background: #F86D26;
    	}
    	98% {
    		width: 117px;
    		height: 83px;
    		border-radius: 100%;
    		bottom: 1px;
    		left: 1%;
    		border-color: #F86D26;
    		background: #F86D26;
    	}
    	100% {
    		width: 120px;
    		height: 80px;
    		border-radius: 100%;
    		bottom: 0px;
    		left: 1%;
    		border-color: #F86D26;
    		background: #F86D26;
    	}
    }
    @-webkit-keyframes leftBounce {
    	0% {
    		width: 40px;
    		height: 40px;
    		border-color: #0000ff;
    		border-radius: 100%;
    		bottom: 80%;
    		left: 10%;
    		background: #0000ff;
    	}
    	95% {
    		width: 40px;
    		height: 40px;
    		border-color: #0000ff;
    		border-radius: 100%;
    		bottom: 38px;
    		left: 10%;
    		background: #0000ff;
    	}
    	97% {
    		width: 43px;
    		height: 37px;
    		border-color: #0000ff;
    		border-radius: 100%;
    		bottom: 38px;
    		left: 10%;
    		background: #0000ff;
    	}
    	99% {
    		width: 45px;
    		height: 35px;
    		border-color: #0000ff;
    		border-radius: 100%;
    		bottom: 38px;
    		left: 10%;
    		background: #0000ff;
    	}
    	100% {
    		width: 46px;
    		height: 34px;
    		border-color: #0000ff;
    		border-radius: 100%;
    		bottom: 38px;
    		left: 10%;
    		background: #0000ff;
    	}
    }
    @-webkit-keyframes rightBounce {
    	0% {
    		width: 40px;
    		height: 40px;
    		border-color: #ff0000;
    		border-radius: 100%;
    		bottom: 80%;
    		left: 16%;
    		background: #ff0000;
    	}
    	95% {
    		width: 40px;
    		height: 40px;
    		border-color: #ff0000;
    		border-radius: 100%;
    		bottom: 38px;
    		left: 16%;
    		background: #ff0000;
    	}
    	97% {
    		width: 43px;
    		height: 37px;
    		border-color: #ff0000;
    		border-radius: 100%;
    		bottom: 38px;
    		left: 16%;
    		background: #ff0000;
    	}
    	99% {
    		width: 45px;
    		height: 35px;
    		border-color: #ff0000;
    		border-radius: 100%;
    		bottom: 38px;
    		left: 16%;
    		background: #ff0000;
    	}
    	100% {
    		width: 46px;
    		height: 34px;
    		border-color: #ff0000;
    		border-radius: 100%;
    		bottom: 38px;
    		left: 16%;
    		background: #ff0000;
    	}
    }


    @-webkit-keyframes move {
    	0% {
    		-webkit-transform: rotate(0deg);
    		width: 60px;
    		height: 60px;
    		border-width: 2px;
    		border-color: #ffffff;
    		border-radius: 0%;
    		bottom: 0px;
    		left: 25%;
    		background: #ffffff;
    		opacity: 0.5;
    	}
    	12% {
    		-webkit-transform: rotate(180deg);
    		width: 80px;
    		height: 80px;
    		border-width: 6px;
    		border-color: #D00202; 
    		border-radius: 4%;
    		bottom: 20%;
    		left: 30%;
    		background: #FF0000;
    	}
    	25% {
    		-webkit-transform: rotate(540deg);
    		width: 105px;
    		height: 105px;
    		border-width: 10px;
    		border-color: #FA5806; 
    		border-radius: 8%;
    		bottom: 50%;
    		left: 15%;
    		background: #F86D26;
    	}
    	37% {
    		-webkit-transform: rotate(900deg);
    		width: 140px;
    		height: 140px;
    		border-width: 17px;
    		border-color: #D0C518; 
    		border-radius: 14%;
    		bottom: 60%;
    		left: 30%;
    		background: #F7E90E;
    	}
    	50% {
    		-webkit-transform: rotate(1620deg);
    		width: 160px;
    		height: 160px;
    		border-width: 35px;
    		border-color: #026909; 
    		border-radius: 20%;
    		bottom: 35%;
    		left: 45%;
    		background: #02870B;
    		opacity: 1;
    	}
    	62% {
    		-webkit-transform: rotate(900deg);
    		width: 140px;
    		height: 140px;
    		border-width: 17px;
    		border-color: #3780C5; 
    		border-radius: 14%;
    		bottom: 60%;
    		left: 60%;
    		background: #46A3FA;
    	}
    	75% {
    		-webkit-transform: rotate(540deg);
    		width: 105px;
    		height: 105px;
    		border-width: 10px;
    		border-color: #1C09AD;
    		border-radius: 8%;
    		bottom: 50%;
    		left: 75%;
    		background: #290EF7;
    	}
    	88% {
    		-webkit-transform: rotate(180deg);
    		width: 80px;
    		height: 80px;
    		border-width: 6px;
    		border-color: #872AA9;
    		border-radius: 4%;
    		bottom: 20%;
    		left: 60%;			
    		background: #C43DF6;
    	}
    	100% {
    		-webkit-transform: rotate(0deg);
    		width: 60px;
    		height: 60px;
    		border-width: 2px;
    		border-color: #4F4E4E;
    		border-radius: 0%;
    		bottom: 0px;
    		left: 65%;
    		background: #050505;
    		opacity: 0.4;
    	}
    }

    .square1 {
    	-webkit-animation-name: move;
    	position: absolute;
    	border-style: solid;
    	-webkit-animation-delay: forwards;
    	-webkit-animation-timing-function: ease-in-out;
    	-webkit-animation-iteration-count: infinite;
    	-webkit-animation-duration: 8s;
    	-webkit-animation-direction: alternate;
    	-webkit-animation-fill-mode: forwards;
    }

    .bounce {
    	-webkit-animation-name: bounce; 
    	position: absolute;
    	border-style: solid;
    	-webkit-animation-timing-function: ease-in;
    	-webkit-animation-iteration-count: infinite;
    	-webkit-animation-duration: 1.2s;
    	-webkit-animation-direction: alternate;
    }
    .bounce1 {
    	-webkit-animation-name: leftBounce; 
    	position: absolute;
    	border-style: solid;
    	-webkit-animation-timing-function: ease-in;
    	-webkit-animation-iteration-count: infinite;
    	-webkit-animation-duration: 1s;
    	-webkit-animation-direction: alternate;
    }
    .bounce2 {
    	-webkit-animation-name: rightBounce; 
    	position: absolute;
    	border-style: solid;
    	-webkit-animation-timing-function: ease-in;
    	-webkit-animation-iteration-count: infinite;
    	-webkit-animation-duration: 1s;
    	-webkit-animation-delay: 1s;
    	-webkit-animation-direction: alternate;
    }
    

