* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    	margin-bottom: 170px;

}
body{
	overflow-y: hidden;
	height: 120%;
}

header{
	position: absolute;
	text-align: center;
	top: 0px;
	right: 0px;	
	left: 0px;
	height: 65px;
	float: right;
	clear: both;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: sans-serif;
	background-color: #D275FC;
	border-style: solid;
	border-color: #BD46F3;
	border-radius: 20px;
}
header h1{
	font-size: 37px;
}
header p{
	padding-top: 8px;
	font-size: 18px;
}
main{
	top: 89px;
	margin-left: 0px;
	position: relative;
	max-width: 75%;
	height: 100%;
	float: right;
	background-color: #EADFF0;
	z-index: 0;
}
main h2{
	padding-left: 30px;
	padding-top: 30px;
	padding-bottom: 10px;
}
main p {
	padding-left: 30px; 
	padding-top: 15px; 
	padding-right: 30px; 
	font-size: 18px;
}
.bottom_text{
	margin-bottom: 270px;
}
.centered_image{
	float: auto;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	padding: 10px;
}
aside{
	position: relative;
	float: both;
	top: 89px;
	height: 770px;
	max-width: 25%;
	padding-right: 1.5px;
	border-style: solid;
	background-color: #FCE889;
	border-color: #CCC002;
	overflow-x: hidden;
	z-index: -3;
}
.JSlogo{
	padding-top: 35px;
	height: 90px;
	width: 90px;
	float: right;
}
nav{
	left: 30px;
	position: absolute;
	padding-top: 35px;
	margin-top: 170px;
	padding-left: 50px;
	padding right: 100px;
}
nav h3{
	font-size: 20px;
	line-height: 200%;
	text-decoration: underline;
}
nav a{
	font-size: 18px;
	text-decoration: none;
}
.mask{
	position: absolute;
	bottom: 0px;
	float: both;
	height: 87px;
	width: 450px;
	margin-bottom: -170px;
	border-style: solid;
	border-width: 2px;
	border-color: #ffffff;
	border-top-color: #CCC002;
	background-color: #ffffff;
	z-index: -1;
}
footer {
	position: absolute;
	float: both;
	left: 0px;
	bottom: 0px;
	height: 30px;
	margin-left: 0px;
	margin-bottom: -170px;
	right: 0px;
	padding-bottom: 34px;
	padding-top: 20px;
	background-color: #B0E4D1;
	border-color: #89C7B0;
	border-style: solid;
	border-radius: 20px;
	text-align: center;
	z-index: 1;
	}​