h1 {
  text-decoration: underline;
  font-weight: bold;
}
thead {
	font-size: 20px;
  	text-decoration: underline;
}
th, td {
	padding-left: 20px;
	text-align: left;
	line-height: 40px;
	font-size: 1.5em;
}
ul{
	line-height: 40px;
	font-size: 1.5em;
}
