body {
    /*border-style: solid;
    border-color: red;*/
    margin: 2px;
    padding: 2px;
    background-image: url("../resource/sayagata.png");
}

header{
    position: relative;
    background-image: url("../resource/pieheader.jpg");
    border-style: outset;
    border-color: #C1AF8C;
    border-width: 3px;
    border-radius: 20px;
    margin-top: 1%;
    margin-bottom: 1%;
    font-family: verdana;
    font-size: 1.5em;
    padding: 12px;
    text-align:center;
    color: #633D02;
}

header q{
    position: relative;
    border-style: none;
    font-size: 1em;
}
header a{
    position: relative;
    font-style: italic;
    font-size: .6em;
}
main{
    margin-bottom: 5%;
    position: relative;
    float: right;
    max-width: 69%;
}

.heading2{
    left: 25%;
    border-style: solid;
    border-color: #C59942;
    background-color: #846742;
    color: #E4DACE;
    border-radius: 15%;
    border-width: 5px;
    font-family: cursive;
    font-size: 1.6em;
    max-width: 45%;
    margin-bottom: 5%;
    margin-top: 4%;
    position: relative;
    text-align: center;
}
.heading3{
    left: 4%;
    color: #633D02;
    margin-top: -1%;
    max-width: 55%;
    font-style: normal;
    font-family: cursive;
    position: relative;
}

main article section p{
    margin-left: 4%;
    margin-right: 4%;
}
.rightsection{
    display: inline;
    position: relative;
    float: right;
    font-size: 1.1em;
}

.leftsection{
    display: inline;
    position: relative;
    margin-left: 1%;
    float: left;
    font-size: 1.1em;
}
#slice{
    margin-top: 10%;
    border-style: inset;
    position: relative;
    border-radius: 80%;
    left: 21.6%;
}
article section{
    position: relative;
    max-width: 40%;
    font-style: italic;
    font-family: cursive;
    color: #A17725;
    border-color: #C1AF8C;
    border-radius: 10px; 
    border-style: dotted;
    border-width: .3em;
}

img{
    position: relative;
    border-style: outset;
    border-color: #C1AF8C;
    max-width: 51%;
    border-radius: 15px;
    border-width: 4px;
}

#img1{
    z-index: 1;
}
#img2{
    margin-top: -4%;
    z-index: 2;
}
#img3{
    margin-top: -4%;
    z-index: 3;
}
#righttext{
    margin-top: -.5%;
    padding-top: 2%;
    padding-bottom: 1%;
    clear: right;
    padding-right: 2%;
    border-left-style: none;
}
#lefttext1{
    padding-top: 7.8%;
    padding-bottom: 6%;
    border-right-style: none;
    padding-left: 2%;
    clear: left;
}
#lefttext2{
    margin-top: -.5%;
    padding-top: 3.2%;
    padding-bottom: 1.8%;
    border-right-style: none;
    clear: left;
    padding-left: 2%;
}

aside{
    overflow: hidden;
    position: relative;
    margin-top: 2.3%;
    padding-bottom: 3%;
    max-width: 30%;
    border-style: inset;
    border-color: #C1AF8C;
}
.inputsection{
    margin-top: 10%;
    max-width: 60%;
    position: relative;
    left: 25%;
}
#pieCount{
 max-width: 14%;
}
hr{
    max-width: 90%;
    border-style: solid;
}

li{
    margin-left: 6%;
    padding-right: 10%;
    font-style: italic;
    font-size: 1.1em;
    color: #A17725;
    font-family: cursive;
}

aside #backtomain{
    color: #633D02;
    position: relative;
    float: left;
    margin-top: 3%;
    margin-bottom: 6%;
    margin-left: 3%;
    font-weight: bold;
    display: inline-block;
}
.rating {
  overflow: hidden;
  float: right;
  margin-right: 5%;
  display: inline-block;
  min-width: 60%;
  height: 2.8em;
  padding-right: 10%;
  vertical-align : bottom;
}
.rating-input {
      float: right;
      width: 16px;
      height: 16px;
      padding: 0;
      margin: 0 0 0 -10px;
      opacity: 0;
  }
.rating > label{
  display: block;
  float: right;
  position: relative;
  background: url('../resource/star.png');
  background-size: contain;
}
.rating > label:before{
  content: '';
  display: block;
  width: 1.2em;
  height: 1.2em;
  background: url("../resource/star-gold.png");
  background-size : contain;
  opacity: 0;
  transition: opacity 0.1s linear;
}
.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}

label{
    font-size: 1.3em;
}
aside a{
    font-size: 1.3em;
}

#results{
  position: absolute;
  margin-top: 7%;
  height: 3%;
  width: 48%;
  float: right;
  right: 8.5%;
  text-align: center;
  min-width: 48%;
  font-size: 1.2em;
}
#voters{
position: absolute;
  margin-top: 13%;
  height: 3%;
  right: 34%;
  text-align: center;
  min-width: 12%;
  font-weight: bold;
  border-right: none;


}
#average{
  position: absolute;
  margin-top: 13%;
  height: 3%;
  right: 22%;
  text-align: center;
  min-width: 12%;
  font-weight: bold;
  border-left: none;
}

